.form {
  display: flex;
  flex-flow: column;
  font-size: small;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
}
h1 {
  margin: 5px 0;
}
label {
  display: flex;
  flex-flow: column;
}
h2 {
  font-size: medium;
  margin: 0;
}
input {
  margin-bottom: 20px;
}

button {
  margin: 0;
}
